@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";

.blogs__title {
    @extend .font__h1-u;
    color: $color-brand2;
    text-align: center;
    padding: 64px;
}

.blog__articles {
    display: flex;
    flex-direction: column;
}

.blog__articles__article {
    display: flex;
    padding: 20px 0px;
    border-top: 1px solid gray;
    width: 100%;
}

.add-icon {
    color: $color-brand2;
    cursor: pointer;
}

.article__action-buttons {
    margin-left: auto;

    fa-icon {
        padding-left: 10px;
        cursor: pointer;
    }
}

// Modal

dialog {
    background-color: $color-bg1;
    border-radius: 10px;
    border-color: $color-brand2;
}

::backdrop {
    background-color: black;
    opacity: 0.5;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-title {
    @extend .font__h2-u;
    color: $color-brand2;
    padding-bottom: 10px;
}

.modal-body {
    @extend .font__para-u;
    padding-bottom: 30px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;

    .btn {
        margin-left: 10px;
    }
}