<div class="row">
    <h1 class="form__title">Create Article</h1>
</div>
<div class="row form__block">

    <form class="form" [formGroup]="form">
        <div class="form-group">
            <input type="text" class="form-control" formControlName="title" placeholder="Title" autocomplete="off">
        </div>
        <div class="form-group">
            <textarea class="form-control" formControlName="text" placeholder="Text"> </textarea>
        </div>

        <button type="submit" class="btn btn-light" (click)="onSubmit()"
            [disabled]="form.invalid || isRequestSent">Submit</button>
    </form>
</div>