/* #region Fonts */
// =========================================

$medium: 500;
$regular: 400;
$light: 300;

.font__imb-plex-mono {
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
}

.font__ubuntu {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}


// Ubuntu fonts
// =========================================

.font__bg-text-u {
    @extend .font__ubuntu;
    font-weight: $regular;
    font-size: 117px;
    line-height: 134px;
}

.font__h1-u {
    @extend .font__ubuntu;
    font-weight: $regular;
    font-size: 64px;
    line-height: 72px;
}

.font__h2-u {
    @extend .font__ubuntu;
    font-weight: $regular;
    font-size: 32px;
    line-height: 36px;
}

.font__button-u {
    @extend .font__ubuntu;
    font-weight: $regular;
    font-size: 20px;
    line-height: 24px;
}

.font__article-u {
    @extend .font__ubuntu;
    font-weight: $light;
    font-size: 16px;
    line-height: 32px;
}

.font__para-u {
    @extend .font__ubuntu;
    font-weight: $light;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
}

.font__label-u-m {
    @extend .font__ubuntu;
    font-weight: $medium;
    font-size: 14px;
    line-height: 16px;
}

.font__label-u-l {
    @extend .font__ubuntu;
    font-weight: $light;
    font-size: 14px;
    line-height: 16px;
}


// IBM fonts
// =========================================

.font__number-m {
    @extend .font__imb-plex-mono;
    font-weight: $medium;
    font-size: 48px;
    line-height: 62px;
}

.font__h2-m {
    @extend .font__imb-plex-mono;
    font-weight: $medium;
    font-size: 32px;
    line-height: 42px;
}

.font__logo-m {
    @extend .font__imb-plex-mono;
    font-weight: $medium;
    font-size: 32px;
    line-height: 42px;
}

.font__menu-m {
    @extend .font__imb-plex-mono;
    font-weight: $regular;
    font-size: 24px;
    line-height: 32px;
}

.font__media-m {
    @extend .font__imb-plex-mono;
    font-weight: $regular;
    font-size: 16px;
    line-height: 20px;
}

.font__para-m {
    @extend .font__imb-plex-mono;
    font-weight: $regular;
    font-size: 16px;
    line-height: 20px;
}

.font__code-m {
    @extend .font__imb-plex-mono;
    font-weight: $regular;
    font-size: 14px;
    line-height: 18px;
}

// =========================================
/* #engregion Fonts*/