<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="hero__title">
                <span class="hero__title__text">Developer</span>
            </div>
        </div>

        <div class="row hero__body">
            <div class="hero__frame">
                <div class="hero__frame__photo-name">
                    <img class="hero__frame__photo-name__img"
                        src="https://media.licdn.com/dms/image/C4E03AQEwyCHJCtEQCg/profile-displayphoto-shrink_800_800/0/1617868495285?e=1721865600&v=beta&t=0ar0LvpcLZKQx8uWow7ze6kt0PzPdnx1hOZsZSLgbfA">
                    <div>
                        <span class="hero__frame__photo-name_name">Artem</span>
                    </div>
                    <div>
                        <span class="hero__frame__photo-name_position">Full Stack Developer</span>
                    </div>
                </div>

                <div class="hero__frame__info">
                    <div>
                        <fa-icon class="hero__frame__info__icon" [icon]="faEnvelope"></fa-icon>
                        <span class="hero__frame__info__text">ahermaniuk.dev&#64;gmail.com</span>
                    </div>

                    <div>
                        <fa-icon class="hero__frame__info__icon" [icon]="faLocationDot"></fa-icon>
                        <span class="hero__frame__info__text">Ukraine</span>
                    </div>

                    <div>
                        <fa-icon class="hero__frame__info__icon" [icon]="faSuitcase"></fa-icon>
                        <span class="hero__frame__info__text">Full-time</span>
                    </div>

                    <div>
                        <fa-icon class="hero__frame__info__icon" [icon]="faLink"></fa-icon>
                        <span class="hero__frame__info__text">somelink.com</span>
                    </div>
                </div>

                <button class="hero__frame__button"> Download CV <fa-icon [icon]="faDownload"></fa-icon></button>
            </div>

            <div class="hero__info">
                <div>
                    <span class="tag">&lt;h1&gt;</span>
                    <h1 class="hero__info__text">
                        Hello! <br>
                        I'm <span>Artem</span>, <br>
                        Full Stack Developer
                    </h1>
                    <span class="tag">&lt;/h1&gt;</span>
                </div>

                <div class="hero__info__paragraph">
                    <span class="tag">&lt;p&gt;</span>
                    <p class="hero__info__text">
                        I use this site as a testing ground for new practices I learn as experience.
                        But I also hope it will serve as a good business card for me ;)
                    </p>
                    <span class="tag">&lt;/p&gt;</span>
                </div>

                <div class="hero__info__cta">
                    Let's talk!
                </div>
            </div>

            <div class="hero__highlight">
                <div class="hero__highlight__block">
                    <div class="hero__highlight__block__count">
                        4
                    </div>
                    <div class="hero__highlight__block__text">
                        <span>Programming <br> Language</span>
                    </div>
                </div>

                <div class="hero__highlight__block">
                    <div class="hero__highlight__block__count">
                        6
                    </div>
                    <div class="hero__highlight__block__text">
                        <span>Development <br> Tools</span>
                    </div>
                </div>

                <div class="hero__highlight__block">
                    <div class="hero__highlight__block__count">
                        3
                    </div>
                    <div class="hero__highlight__block__text">
                        <span>Years of <br> Experience</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>