<div class="row">
    <h1 class="title"> Chat Rooms </h1>
</div>

<div class="chats-actions">
    <div class="chats-actions__block">
        <button class="custom-button">
            Create chat
        </button>

        <button class="custom-button">
            Join chat
        </button>
    </div>
</div>

<div class="chats-list">
    <div *ngFor="let chat of chats" class="chats-list__item" (click)="enter(chat.name)">
        <p>{{chat.name}}</p>
        <span>Users: {{chat.usersCount}}</span>
    </div>
</div>