@import 'ngx-toastr/toastr';
@import "styles/fonts.scss";
@import "styles/colors.scss";

body {
    background-color: $color-bg1;
}

.ngx-toastr {
    box-shadow: none !important;
}

fa-icon {
    color: #12F7D6;
}

.error-input {
    border-color: #dc3545;
    border-width: 2px;
}

.custom-button {
    @extend .font__button-u;
    width: 160px;
    height: 56px;
    border-radius: 50px;
    background-color: $color-bg1;
    border: 3px $color-brand2 solid;
    color: white;
}

.custom-button:hover {
    background-color: $color-brand2;
    color: $color-bg1;
}